.about-content {
  height: 95vh;
  background-image: url("../images/nycpixel-bg-transparent.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .about-content {
    background-image: url("../images/nycpixel-bg-transparent-1200.png");
  }
}

#about-header {
  font-family: "CooperHewitt Bold";
  color: white;
  font-size: 70px;
  position: static;
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#about-subhead {
  font-family: "Courier";
  color: #FFE600;
  font-size: 21px;
  position: static;
  text-align: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
