.home-content {
  height: 93.5vh;
  background-image: url("../images/bg-transparent.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .home-content {
    background-image: url("../images/bg-transparent-500px.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .home-content {
    background-image: url("../images/bg-transparent-1200px.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.home-greeting {
  font-family: "CooperHewitt Bold";
  color: white;
  font-size: 70px;
  position: relative;
  text-align: left;
  margin-left: 40%;
  top: 200px;
}

@media (max-width: 500px) {
  .home-greeting {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    top: 235px;
  }
}

@media (max-width: 1200px) {
  .home-greeting {
    top: 300px;
  }
}

#home-position {
  font-family: "Courier";
  color: #FFE600;
  font-size: 22px;
  position: relative;
  text-align: left;
  margin-left: 1000px;
  top: 190px;
  width: auto;
}

@media only screen and (max-width: 500px) {
  #home-position {
    font-size: 11px;
    text-align: center;
    left: -63%;
    width: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  #home-position {
    font-size: 25px;
    top: 300px;
    margin-left: 54%;
    width: 450px;
  }
}

#home-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80px;
  position: relative;
  top: 106px;
  margin-left: 71%;
}

.home-icons {
  width: 35px;
}

@media only screen and (max-width: 500px) {
  #home-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80px;
    position: relative;
    left: -110px;
  }

  .home-icons {
    width: 35px;
  }
}

@media only screen and (max-width: 1200px) {
  #home-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80px;
    position: relative;
    top: 95px;
    margin-left: 60%;
  }

  .home-icons {
    width: 50px;
    margin: 10px;
  }
}
