.home-content {
  height: 95vh;
  background-image: url("../images/colorpop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .home-content {
    background-image: url("../images/colorpop-bg-1200.png");
  }
}

@media only screen and (max-width: 500px) {
  .home-content {
    background-image: url("../images/colorpop-bg-500.png");
  }
}

.home-greeting {
  font-family: "CooperHewitt Bold";
  color: white;
  font-size: 70px;
  position: static;
  text-align: left;
  margin-left: 40%;
  padding-top: 200px;
}

@media only screen and (max-width: 1200px) {
  .home-greeting {
    text-align: center;
    margin-left: 35%;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .home-greeting {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
  }
}

#home-position {
  font-family: "Courier";
  color: #FFE600;
  font-size: 21px;
  position: static;
  text-align: left;
  margin-left: 1000px;
}

@media only screen and (max-width: 1200px) {
  #home-position {
    font-size: 25px;
    position: static;
    text-align: center;
    margin-left: 460px;
    margin-right: auto;
    top: 300px;
    width: 450px;

  }
}

@media only screen and (max-width: 900px) {
  #home-position {
    font-size: 25px;
    position: static;
    text-align: center;
    margin-left: 290px;
    margin-right: auto;
    top: 300px;
    width: 450px;

  }
}

@media only screen and (max-width: 500px) {
  #home-position {
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 350px;
  }
}

#home-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80px;
  position: absolute;
  top: 336px;
  left: 1350px;
}

.home-icons {
  width: 35px;
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  #home-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80px;
    position: static;
    margin-left: 625px;
    margin-right: auto;
  }

  .home-icons {
    width: 40px;
  }
}

@media only screen and (max-width: 900px) {
  #home-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80px;
    position: static;
    margin-left: 455px;
    margin-right: auto;
  }

  .home-icons {
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {
  #home-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    position: static;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-icons {
    width: 50px;
  }
}
